* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 0px;
}

body {
  background-color: rgb(159, 169, 214);
  margin: 0px;
}

i {
  color: beige;
  font-size: 30px;
}


.logoinicio {
  height: 50px;
  border-radius: 30px;
}

h1 {
  color: white;
}

.container_body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.container_body img {
  margin: 40px 10px;
  width: 200px;
  height: 200px;
  border-radius: 15px;
}

.tituloInicio {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid wheat;
  margin: 20px 20px;
}

.imagenInicio {
  width: 100px;
  margin: 15px;
}

.textoTituloInicio h1 {
  font-family: "Anton", sans-serif;
  color: black;
}

.textoTituloInicio h3 {
  font-family: "Anton", sans-serif;
  color: black;
}

.fotoHead {
  background-color: white;
}

.tituloEncabezado {
  font-size: 40px;
  font-family: "Anton", sans-serif;
  text-align: center;
  text-shadow: 5px 7px 4px gray;
}

nav {
  background-color: black;
  font-size: 20px;
  display: inline-block;
  width: 100%;
  height: auto;
  position: fixed;
  margin: 0px;
}

.menuHorizontal {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 55px;
}

.menuHorizontal>li>a {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
}

.menuVertical>li:hover {
  background-color: #4d82bc;
}

.menuVertical {
  position: absolute;
  display: none;
  list-style: none;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.5);
}

.menuHorizontal li:hover .menuVertical {
  display: block;
}

.menuVertical li:hover {
  background-color: #4d82bc;
}

.menuVertical li a {
  display: block;
  color: white;
  padding: 10px 10px 10px 15px;
  text-decoration: none;
}

.espaciado {
  padding-top: 5%;
  margin-bottom: 3%;
}

.signoMas {
  color: white;
  font-size: 100px;
  border: 2px solid black;
  padding: 41px;
  border-radius: 15px;
}