.form_container {
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 5px solid black;
    text-align: center;
}

label {
    display: block;
    margin: 5px;

}

.botones {}

.botones input {
    background-color: lime;
    margin: 15px;
}

.botones button {
    background-color: red;
}