body {
    background-color: #b93b3b;
}

* {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.logoinicio {
    width: 125px;
    height: 125px;
}

header {

    background-color: black;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;

}

header a {
    color: white;
    text-decoration: none;
}

/* HASTA AQUI VA EL HEADER */
.fotoNox {
    width: 200px;
    background-color: white;
    margin: 20px;
}

.divNox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pala {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.imagenPala {
    width: 300px;
    height: auto;
    background-color: white;
}

.parrafoPala {
    font-size: 18px;
    color: white;
    width: 300px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.fila {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.botonComprar {
    display: block;
    margin: 0 auto;
    border-radius: 30px;
}

.logoinicio {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
}

.fotoComprar {
    width: 70px;
    height: auto;
    padding: 5px;
}