body {
    background-color: #b93b3b;
}

.fotoNox {
    width: 200px;
    background-color: white;
    margin: 20px;
}

.divNox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pala {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
}

.imagenPala {
    width: 300px;
    height: auto;
    background-color: white;
    margin: 0 auto;
}

.parrafoPala {
    font-size: 18px;
    color: white;
    width: 300px;
    height: auto;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
}