* {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    background-color: #C0B283;
}

.logoinicio {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

header {
    background-color: black;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    padding: 5px;
}

a {
    color: white;
    text-decoration: none;
}

.container_body {
    display: flex;
    height: 300px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.container_body img {
    margin: 40px 10px;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}


.tituloInicio {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 5px solid wheat;
    margin: 20px 20px;
}

.imagenInicio {
    float: left;
    width: 100px;
    height: 100px;
    background-color: white;
    margin: 15px;
}

.textoTituloInicio {
    text-align: center;
}

.boton:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.boton {
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    font-size: medium;
    transition: box-shadow 0.3s ease;
}

.crear_marca {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto_añadir {
    height: 250px;
}

.fotoHead {
    background-color: white;
}

.tituloEncabezado {
    font-family: 'Anton', sans-serif;
    text-align: center;
    text-shadow: 5px 7px 4px rgba(0, 0, 0, 0.5);
}