
* {
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.logoinicio{
    width: 125px;
    height: 125px;
}

header {
    
    background-color: black;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    
}

header a {
    color: white;
    text-decoration: none;
}

.container_body {
    display: flex;
    height: 300px;
    justify-content: space-around ;
    align-items: center;
    flex-wrap: wrap;
    
}

.container_body img {
    margin: 40px 10px;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}



