.tituloPaginaFormulario {
    text-align: center;
}

/* Estilo para el contenedor del formulario */
.fullForm {
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid black;
    text-align: center;
}

.fullForm label {
    display: block;
    margin-bottom: 5px;
}

.fullForm input {
    width: 100%;
    padding: 5px;
}

.divForm {
    padding: 20px;
}

.botonCancelar {
    background-color: red;
}

.botonCancelar a {
    text-decoration: none;
    color: white;
}

.botonGuardar {
    background-color: green;
}

.botonGuardar a {
    text-decoration: none;
    color: white;
}