* {
  box-sizing: border-box;
}

body {
  margin-top: 200px;
}

.form_container {
  width: 400px;
  background-color: #feded2;
  padding: 20px;
  margin: auto;
  border-radius: 4px;
  border: 5px solid #fec3b1;
  text-align: center;
  box-shadow: 7px 13px 37px #000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.form_container h4 {
  font-size: 22px;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
}

.form {
  width: 100%;
  background-color: #feded2;
  padding: 15px;
  margin-bottom: 16px;
  border: 1px solid #fec3b1;
  font-family: 'calibri';
  font-size: 18px;
}

.botonRegistrar {
  width: 100%;
  background-color: #5dc460;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

.botonCancelar {
  width: 100%;
  background-color: #df4d49;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
}