nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: black;
    height: 10vh;
}

.navContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: black;
}

i {
    color: white;
}

.menuHorizontal {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 55px;
    width: 100%;
}

.menuHorizontal>li>a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.menuVertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5);
}

.menuHorizontal li:hover .menuVertical {
    display: block;
}

.menuVertical li:hover {
    background-color: #4d82bc;
}

.menuVertical li a {
    display: block;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
}

i {
    color: beige;
    font-size: 30px;
    width: 100%;
}

.logoinicio {
    height: 50px;
    border-radius: 30px;
    margin-left: 5px;
}

.tituloEncabezado {
    font-size: 30px;
    font-family: "Anton", sans-serif;
    text-align: center;
    text-shadow: 5px 7px 4px gray;
    color: white;
    width: 100%;
}

#cuentaCarrito {
    background-color: white;
    color: black;
    border-radius: 100%;
    display: inline-block;
    width: 20px;
    aspect-ratio: 1;
    text-align: center;
    line-height: 20px;
    position: absolute;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.leftNav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.leftNav a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
}

.divCart {
    position: relative;
}

.divCart:hover {
    cursor: pointer;

}

#buttonCart {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.countProducts {
    position: absolute;
    top: 6%;
    background-color: white;
    color: black;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 15px;
    text-align: center;
}

.hiddenCartElements {
    position: absolute;
    top: 50px;
    background-color: white;
    width: 500px;
    right: 0;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.iconClose {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.iconClose:hover {
    color: red;
}

.cartProducts {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 30px;
    border-bottom: 1px solid black;
}

.infoCartProduct {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.8;
}

.productTitleCart {
    font-size: 18px;
    padding-left: 15px;
    width: 300px;
}

.productPriceCart {
    font-weight: 700;
    font-size: 20px;
    margin-left: 15px;
}

.productCartCount {
    font-weight: 400;
    font-size: 20px;
    padding: 3px;
    border: 3px solid black;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.cartTotal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cartTotal h3 {
    font-size: 20px;
    font-weight: 700;
}

.cartTotal hidden {
    display: none;
}

.totalPayment {
    font-size: 20px;
    font-weight: 900;
}

.hideElements {
    display: none;
}

.divCart i {
    font-size: 30px;
}

.containerIconCart {
    border: 1px solid black;
}

.cartIconDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.cartTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.titleCart {
    font-size: 20px;
    font-weight: 700;
}

.cartEmpty {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divSearch {
    margin-left: 10px;
    display: flex;
}

.buttonSearch {
    all: initial;
}

.buttonSearch:hover {
    cursor: pointer;
}

.divFatherSearchInput {
    width: 100%;
    background-color: black;
    transition: 0.7 ease;
    -webkit-transition: 0.7 ease;
    -moz-transition: 0.7 ease;
    -ms-transition: 0.7 ease;
    -o-transition: 0.7 ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchInput {
    display: none;
}

.searchInput show {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    background-color: black;
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
}

.searchInputText {
    all: initial;
    background-color: black;
    color: white;
    width: 100%;
    margin: 10px;
    padding: 10px;
    border: 1px solid white;
}

.show {
    display: block;
}


@media (max-width: 800px) {
    .tituloEncabezado {
        font-size: 35px;
    }
}

@media (max-width: 400px) {
    nav {
        width: 100%;
    }

    .menuHorizontal {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-right: 9px;
    }

    .menuHorizontal li h1 {
        display: flex;
        flex-wrap: wrap;
        font-size: 20px;
    }

    #listBrands {
        font-size: 20px;
    }

    #iconoNav {
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
}