@import url(../css/colores.css);

* {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-fondo);
}

.container_body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.container_body img {
    margin: 40px 10px;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.tituloInicio {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid wheat;
    margin: 20px;
    width: 100%;
    height: auto;
}

.imagenInicio {
    width: 100px;
    margin: 15px;
}

.textoTituloInicio h1,
.textoTituloInicio h3 {
    font-family: "Anton", sans-serif;
    color: black;
}

.fotoHead {
    background-color: white;
}

.signoMas {
    color: white;
    font-size: 100px;
    border: 2px solid black;
    padding: 41px;
    border-radius: 15px;
}

.padre {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    margin-top: 10px;
}

.marcas {
    margin: 20px;
}

@media screen and (max-width: 600px) {
    .padre {
        width: 100%;
        padding: 20px;
    }
}