<nav class="navPrincipal">
    <ul class="menuHorizontal">
        <li>
            <i class="bi bi-list" id="listBrands"><a href="#"></a></i>
            <ul class="menuVertical">
                {{#values}}
                <li><a href="/{{brandName}}">{{brandName}}</a></li>
                {{/values}}
            </ul>
        </li>
        <li>
            <h1 class="tituloEncabezado">World Padel Store</h1>
        </li>
        <li>
            <div class="cartIconDiv">
                <div class="containerIconCart">
                    <button id="buttonCart"><i class="bi bi-basket"></i></button>
                    <div class="countProducts">
                        <span class="productsCounter">0</span>
                    </div>
                </div>
                <div class="divCart">
                    <div class="hiddenCartElements hideElements">
                        <div class="rowProducts hidden">
                            <div class="cartProducts">
                                <!-- <div class="infoCartProduct">
                                    <span class="productCartCount"></span>
                                    <p class="productTitleCart"></p>
                                    <span class="productPriceCart"></span>
                                </div> -->
                                <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="iconClose" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                                </svg> -->
                            </div>
                            <div class="cartTotal hidden">
                                <h3>Total:</h3>
                                <span class="totalPayment"></span>
                            </div>
                            <p class="emptyCart">El carrito está vacio</p>
                        </div>
                    </div>
                </div>
                <a href="/"><img class="logoinicio"
                        src="https://i.pinimg.com/originals/74/7e/55/747e55064959e576f79edb6f2b3f5179.png"
                        alt="inicio"></a>
            </div>
        </li>
    </ul>

    <script src="/script/scriptNav.js"></script>
</nav>