<!DOCTYPE html>
<html lang="en">

<head>
  <title>WPS | {{title}}</title>
  <link rel="icon" href="https://i.pinimg.com/originals/74/7e/55/747e55064959e576f79edb6f2b3f5179.png" type="image/png" />
  <link rel="stylesheet" href="/css/styleNav.css">
  <link rel="stylesheet" href="/css/styleIndex.css">
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<body>

  <nav class="navPrincipal">
    <ul class="menuHorizontal">
      <li>
        <i class="bi bi-list"><a href="#"></a></i>
        <ul class="menuVertical">
          {{#infoMarcas}}
          <li><a href="/{{brandName}}">{{brandName}}</a></li>
          {{/infoMarcas}}
        </ul>
      </li>
      <li>
        <h1 class="tituloEncabezado">World Padel Store</h1>
      </li>
      <li>
        <div class="navIzq">
          <a href="/"><img class="logoinicio" src="https://i.pinimg.com/originals/74/7e/55/747e55064959e576f79edb6f2b3f5179.png" alt="inicio"></a>
        </div>
      </li>
    </ul>
  </nav>

  <div class="padre">
    <div class="container">
      <div class="tituloInicio">
        <img src="https://i.pinimg.com/originals/74/7e/55/747e55064959e576f79edb6f2b3f5179.png" alt="WPS" class="imagenInicio" />
        <div class="textoTituloInicio">
          <h1>WPS: La mejor tienda de pádel al alcance de un click</h1>
          <h3>
            Tu tienda de pádel de confianza, donde encontrarás todo lo posible en
            el mundo del pádel
          </h3>
        </div>
      </div>
    </div>

    <div class="container_body">
      {{#infoMarcas}}
      <div class="marcas">
        <a href="/{{brandName}}">
          <img src="{{brandImage}}" alt="{{brandName}}" />
        </a>
      </div>
      {{/infoMarcas}}

      <div>
        <a class="linkSuma" href="/formularioMarca">
          <img src="/Images/Nuevo.jpg" alt="imagenNuevoElemento">
        </a>
      </div>
    </div>
  </div>

</body>

</html>