<!DOCTYPE html>
<html lang="en">

<head>
    <title id="Principal title">WPS | {{brandName}}</title>
    <link rel="icon" href="https://i.pinimg.com/originals/74/7e/55/747e55064959e576f79edb6f2b3f5179.png" type="image/png">
    <link rel="stylesheet" href="/css/styleNav.css">
    <link rel="stylesheet" href="/css/styleNox.css">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
</head>

<body>

    <nav class="navPrincipal">
        <ul class="menuHorizontal">
            <li>
                <i class="bi bi-list"><a href="#"></a></i>
                <ul class="menuVertical">
                    {{#desplegable}}
                    <li><a href="/{{brandName}}">{{brandName}}</a></li>
                    {{/desplegable}}
                </ul>
            </li>
            <li>
                <h1 class="tituloEncabezado">{{brandName}}</h1>
            </li>
            <li>
                <div class="navIzq">
                    <a href="/"><img class="logoinicio" src="https://i.pinimg.com/originals/74/7e/55/747e55064959e576f79edb6f2b3f5179.png" alt="inicio"></a>
                </div>
            </li>
        </ul>

    </nav>

    <div class="padre">
        <div class="divButtonBack">
            <a href="/">
                <div class="back">
                    <i class="bi bi-arrow-left-short"></i>
                </div>
            </a>
        </div>

        <div class="content">

            <div>
                <img class=imagenLogoNox src={{brandImage}}>
            </div>

            <div class="textoNox">
                <h1>{{brandName}}</h1>
                <p><span class="negrita"><b>Fundador: </b></span><span>{{brandFounder}}</span></p>
                <p><span class="negrita"><b>Año de fundación: </b></span><span>{{brandYear}}</span></p>
                <p><span class="negrita"><b>Jugadores: </b><span></span>{{brandPlayers}}</span></p>
                <a href="/{{brandName}}/edit"><input class="boton_editar" type="submit" value="Editar"></a>
                <button class="boton_eliminar" id="eliminar">Eliminar</button>
                <!-- <input class="boton_eliminar" type="submit" value="Eliminar"> -->
            </div>
        </div>

        <div class="divPalas">
            <div class="divNox">
                {{#palasPrincipal}}
                <div class="pala">
                    <div><img src="{{racketImage}}" class="imagenPala"></div>
                    <div class="textPrice">
                        <p class="parrafoPala">
                            {{racketName}}
                        </p>
                        <p class="precioPala">{{racketPrice}}€</p>
                    </div>
                </div>
                {{/palasPrincipal}}
            </div>

            <div class="divFormPala">
                <div class="formCrearPala">
                    <form action="newRacket?name={{brandName}}" method="post" class="contenidoForm">
                        <h2 class="tituloCrearPala">Añade una nueva pala</h2>
                        <div class="structureDiv">
                            <label class="labelStyle">Nombre de la pala</label>
                            <input class="cuadroTexto" type="text" name="nombrePala" placeholder="Escribe aqui" required>
                        </div>
                        <div class="structureDiv">
                            <label class="labelStyle">Precio</label>
                            <input class="cuadroTexto" type="number" name="precioPala" placeholder="Escribe aqui" required>
                        </div>
                        <div class="structureDiv">
                            <label class="labelStyle">Imagen</label>
                            <input class="cuadroTexto" type="text" name="imagenPala" placeholder="Escribe aqui" required>
                        </div>
                        <div class="botonesForm">
                            <input class="divBotonesFormCrearPalaSubir" type="submit" value="Subir" />
                            <a href="/" class="divBotonesFormCrearPalaCancelar">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</body>

</html>