<nav class="navPrincipal">
    <ul class="menuHorizontal">
        <li>
            <i class="bi bi-list"><a href="#"></a></i>
            <ul class="menuVertical">
                {{#values}}
                <li><a href="/{{brandName}}">{{brandName}}</a></li>
                {{/values}}
            </ul>
        </li>
        <li>
            <h1 class="tituloEncabezado">World Padel Store</h1>
        </li>
        <li>
            <div class="navIzq">
                <i class="bi bi-basket"></i>
                <a href="/"><img class="logoinicio" src="https://i.pinimg.com/originals/74/7e/55/747e55064959e576f79edb6f2b3f5179.png" alt="inicio"></a>
            </div>
        </li>
    </ul>
</nav>