.logoinicio {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

.bodyNox {
  background-color: #fa5f49;
}

.fotoNox {
  width: 200px;
  background-color: white;
  margin: 20px;
}

.noxHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}


.pala {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  width: auto;
}

.imagenPala {
  width: 300px;
  height: auto;
  background-color: white;
  border: 3px solid black;
}

.divPalas {
  display: flex;
  flex-wrap: wrap;
}

.divNox {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 1800px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #f9635c;
  margin: 20px;
  margin-top: 100px;
  border: 3px solid black;
}


.formCrearPala {
  border: 5px solid black;
  border-radius: 50px;
  height: auto;
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.etiquetas {
  width: auto;
  height: auto;
}

.labelStyle {
  font-weight: bold;
  text-decoration: underline;
}

.etiquetaColor {
  width: 50px;
}

.textPrice {
  width: 300px;
  background-color: #e4dfdf;
  border: 3px solid black;
}

.parrafoPala {
  color: black;
  text-align: center;
  font-size: small;
  padding: 5px;
}

.precioPala {
  border: 1px solid #cabfbf;
  border-radius: 50px;
  text-align: center;
  background-color: green;
  color: white;
  width: auto;
  justify-items: center;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.botonFormPala {
  text-align: center;
  border: 2px solid black;
  border-radius: 50px;
  width: auto;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.botonFormPala:hover+.formCrearPala {
  background-color: white;
  display: block;
}

.tituloCrearPala {
  color: black;
  font-size: 20px;
  font-family: "Anton", sans-serif;
  text-align: center;
  text-shadow: 5px 7px 4px rgba(0, 0, 0, 0.5);
  border: 2px solid black;
}

.divBotonesFormCrearPalaSubir {
  background-color: green;
  color: white;
  padding: 5px;
}

.divBotonesFormCrearPalaCancelar {
  background-color: white;
  padding: 5px;
}

.divBotonesFormCrearPalaCancelar a {
  color: black;
}

.contenidoForm {
  text-align: left;
}

.botonesForm {
  text-align: center;
}

.structureDiv {
  margin: 20px;
}

.menuHorizontalNox {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 55px;
}

.menuHorizontalNox>li>a {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
}

.menuVerticalNox>li:hover {
  background-color: #d34240;
}

.menuVerticalNox {
  position: absolute;
  display: none;
  list-style: none;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.5);
}

.menuHorizontalNox li:hover .menuVerticalNox {
  display: block;
}

.menuVerticalNox li:hover {
  background-color: #d34240;
}

.menuVerticalNox li a {
  display: block;
  color: white;
  padding: 10px 10px 10px 15px;
  text-decoration: none;
}

.content {
  width: 1500px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.imagenLogoNox {
  width: auto;
  height: 250px;
}

.textoNox {
  padding: 20px;
}

.padre {
  padding: 70px;
  flex-direction: column;
}