.logoinicio {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

.bodyNox {
  background-color: red;
}

.fotoNox {
  width: 200px;
  background-color: white;
  margin: 20px;
}

.noxHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pala {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  width: auto;
}

.imagenPala {
  width: 300px;
  height: auto;
}

.fila {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.fotoComprar {
  width: 70px;
  height: auto;
  padding: 5px;
}

.divNox {
  display: flex;
  height: auto;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  /* background-color: white; */
}


.formCrearPala {
  border: 5px solid black;
  border-radius: 50px;
  height: auto;
  padding: 20px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.etiquetas {
  width: auto;
  height: auto;
}

.labelStyle {
  font-weight: bold;
  text-decoration: underline;
}

.etiquetaColor {
  width: 50px;
}

.textPrice {
  width: 300px;
  background-color: #e4dfdf;
}

.parrafoPala {
  color: black;
  text-align: center;
  font-size: small;
}

.precioPala {
  border: 1px solid #cabfbf;
  border-radius: 50px;
  text-align: center;
  background-color: green;
  color: white;
  width: auto;
  justify-items: center;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.botonFormPala {
  text-align: center;
  border: 2px solid black;
  border-radius: 50px;
  width: auto;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.botonFormPala:hover+.formCrearPala {
  background-color: white;
  display: block;
}

.tituloCrearPala {
  color: white;
  font-size: 20px;
  font-family: "Anton", sans-serif;
  text-align: center;
  text-shadow: 5px 7px 4px rgba(255, 255, 255, 0.5);
}

.divBotonesFormCrearPalaSubir {
  background-color: green;
  color: white;
}

.divBotonesFormCrearPalaCancelar {
  background-color: white;
}

.divBotonesFormCrearPalaCancelar a {
  color: black;
}

.contenidoForm {
  text-align: left;
}

.botonesForm {
  text-align: center;
}

.structureDiv {
  margin: 20px;
}

