* {
    padding: 0px;
}

.imagenPala {
    background-color: white;
    border: 3px solid black;
}

.parrafoPala {
    color: black;
    text-align: center;
    font-size: small;
    padding: 5px;
}

.divNox {
    display: flex;
    height: auto;
    width: auto;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    /* margin: 20px; */
}

.textPrice {
    width: 300px;
    background-color: #e4dfdf;
}

.parrafoPala {
    color: black;
    text-align: center;
    font-size: small;
    padding: 5px;
    width: auto;
}

.precioPala {
    border: 1px solid #cabfbf;
    border-radius: 50px;
    text-align: center;
    background-color: green;
    color: white;
    width: auto;
    justify-items: center;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}